{% extends "base.html" %}
{% block title %}Dialogs list{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <table class="table table-striped">
      <tr>
        <th scope="col">Dialog</th>
        <th scope="col">Channel type</th>
        <th scope="col">Start</th>
        <th scope="col">Finish</th>
      </tr>
      {% for dialog in dialogs %}
      <tr>
        <td>{{ dialog.id }}</td>
        <td>{{ dialog.channel_type }}</td>
        <td>{{ dialog.start }}</td>
        <td>{{ dialog.finish }}</td>
      </tr>
      {% endfor %}

    </table>
{% endblock %}